.nav {
    font-family: Rubik;
    grid-area: n;
    background-color: #003b46;
    padding: 20px;

}

.item a {
    color: dimgray;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;

}

.item a.activeLink {
    color:goldenrod;
}
