.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 4fr;
grid-template-areas:
        " h h "
"n c"

    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background-color: #c4dfe6;
}








